.dashboard-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-metrics {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .metric {
    margin: 0 20px;
    text-align: center;
  }
  
  .dashboard-actions {
    display: flex;
    justify-content: center;
  }
  
  .action-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action-button:hover {
    background-color:  #555;
  }
  
  
  @media screen and (max-width: 768px) {
    .metric {
      margin: 0 10px;
    }
    
    .metric i {
      font-size: 36px;
    }
    
    .action-button {
      margin: 0 5px;
    }
  }