/* ProductsManagement.css */
.products-management-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.add-form {
  margin-bottom: 20px;
}

.add-form button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.add-form button:hover {
  background-color:#555;
}

.add-form button:focus {
  outline: none;
  border-color: #0056b3;
}

.ad {
  padding: 10px;
  background-color:#333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.add-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-form button {
  width: 100%;
  padding: 10px;
  background-color:#333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-form button:hover {
  background-color: #555;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product-card {
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}

.product-card h3 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
}

.product-card p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}

.product-card button {
  padding: 8px 12px;
  background-color:#333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color:#555;
}

.product-card button.edit-button {
  margin-right: 10px;
}


