.sd{
    background-color:#333;
    border-radius:9px;
    padding:10px;
}
.sd:hover{
    background-color: #555;
}
.carousel-item img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  .carousel-caption h5 {
    margin-bottom: 0;
  }
  
  .carousel-caption h5 a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .carousel-item img {
      height: 300px;
    }
  }
  
  @media (max-width: 576px) {
    .carousel-item img {
      height: 200px;
    }
  }
  
  /* Adjust caption styles for smaller screens */
  @media (max-width: 576px) {
    .carousel-caption {
      padding: 10px;
      text-align: center;
    }
  }
  